.social {
  position: relative;
}
.social__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 19.2px;
  box-sizing: border-box;

  position: fixed;
  background: rgba(255, 221, 210, 0.6);
  border-left: 4px solid rgb(131, 197, 190);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 4%;
  height: auto;
  top: 11%;
  right: 0;
  a {
    color: black;
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: rgb(131, 197, 190);
    }
  }
}
