@import "./Mixins";
@import "./Variables";

.contact-wrapper {
  @include gridLayout();
}
.hr-short {
  @include hrShort();
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid $socialColor;
}
.contact form button {
  background: $socialColor;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: $socialColorHover;
  color: $bckgdColor;
  outline: 0;
  transition: background-color 2s ease-out;
}

@media (min-width: 700px) {
  .contact-w {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .contact-info h3,
  .contact-info p {
    text-align: center;
    // justify-content: center;
    padding: 1em;
  }
}
